Django==1.4.1
Markdown==2.2.0
Pillow==1.7.7
PyYAML==3.10
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.17
celery==3.0.11
django-appconf==0.5
django-celery==3.0.11
django-compressor==1.2
django-gravatar==0.1.0
django-kombu==0.9.4
django-notification==0.2
django-social-auth==0.7.10
django-widget-tweaks==1.1.2
httplib2==0.7.7
kombu==2.4.7
librabbitmq==0.9.9
oauth2==1.5.211
py-bcrypt==0.2
pyjade==1.6
python-dateutil==1.5
python-openid==2.2.5
pytz==2012g
wsgiref==0.1.2
psycopg2==2.4.5
dj-database-url==0.2.0
gunicorn==0.16.1
django-storages==1.1.6
boto