extends base

block content
  .row.content
    .ten.columns
      .row
        .twelve.columns.welcome
          h3
            | Ooooof. 500 Error 
          br
          h4
            | Bad Times.

    include navigation