<!doctype html>
<html>
<head>
  <title>404</title>
  <meta charset='utf-8'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js'></script>
  <script src='http://mathisonian-web.s3.amazonaws.com/javascripts/okvideo.min.js'></script>
  <script>
    $(function(){
        $.okvideo({ source: 'https://www.youtube.com/watch?v=ehWAV_az0OI' }) 
    });

  </script>
  <style type="text/css">
    #center h1 {
      background-color: fuchsia;
      color: white;
      position: absolute;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="center">
    <h1>
        500
    </h1>
  </div>
</body>
</html>