extends base

block post-header
  a(href="")
    |/about

block content
  .row.content
    .ten.columns
      .row.portfolio-container
        .twelve.columns
          .row
            .four.columns
              img(src="#{STATIC_URL}images/me.jpeg").bio-pic
            .eight.columns
              h3
                | Matthew Conlen
              h5
                | Location: Brooklyn, NY
              p.description
                | Matthew Conlen is a graduate of the University of 
                | Michigan with degrees in mathematics and computer science. He 
                | is currently living in new york and preoccupied with trying to 
                | create interesting things; unfortunately, in this case 
                | the metric of "interestingness" is 
                | quite 
                | ill defined; While working as an independent 
                a(href="http://github.com/mathisonian")
                  | software developer
                | he is also the organizer of
                | the 
                a(href="http://www.meetup.com/NYC-Creative-and-Experimental-Software-Group/")
                  | NYC Creative &amp; Experimental Software Group
                | .
                | 
                | Feel free to 
                a(href="mailto:about@mathisonian.com")
                  | contact 
                | him for anything.

    include navigation