extends base

block post-header
  a(href="")
    |/about

block content
  .row.content
    .ten.columns
      .row.portfolio-container
        .twelve.columns
          .row
            .four.columns
              img(src="#{STATIC_URL}images/me.jpeg").bio-pic
            .eight.columns
              h3
                | Matthew Conlen
              h5
                | Location: Brooklyn, NY
              p.description
                | Matthew Conlen is a recent graduate from the University of 
                | Michigan with degrees in mathematics and computer science. He 
                | is currently living in new york and preoccupied with trying to 
                | create interesting things; unfortunately, in this case 
                | the metric of "interestingness" is 
                | quite 
                | ill defined; While working at
                a(href="http://labs.huffingtonpost.com")
                  | HuffPost Labs
                | he is also heading up a collective of 
                | technologists known as 
                a(href="http://www.labcur.io")
                  | lab curio
                | that may sate 
                | this need to some end; Matt would enjoy hearing from you, so 
                | feel free to use the 
                a(href="mailto:about@mathisonian.com")
                  | contact 
                | link.

    include navigation