.two.columns.navigation
    .hide-on-phones
        .row
            .twelve.columns.nav
                a(href="/portfolio")
                    | /portfolio
        .row
            .twelve.columns.nav
                a(href="/weblog")
                    | /weblog
        .row
            .twelve.columns.nav
                a(href="/about")
                    | /about
        .row
            .twelve.columns.nav
                a(href="mailto:web@mathisonian.com")
                    | /contact
    .show-on-phones
        .row
            .phone-one.nav-phone
                a(href="/portfolio")
                    | /stuff
            .phone-one.nav-phone
                a(href="/weblog")
                    | /blog
            .phone-one.nav-phone
                a(href="/about")
                    | /me
            .phone-one.nav-phone
                a(href="/contact")
                    | /email
    br

    .row
        .three.columns.phone-one
            a(href="http://www.github.com/mathisonian", target="_blank")
                image(src="#{STATIC_URL}images/github.png", class="glyph")
        .three.columns.phone-one
            a(href="http://www.twitter.com/mathisonian", target="_blank")
                image(src="#{STATIC_URL}images/twitter.png", class="glyph")
        .three.columns.phone-one
            a(href="http://www.facebook.com/mpconlen", target="_blank")
                image(src="#{STATIC_URL}images/facebook.png", class="glyph")
        .three.columns.phone-one
            a(href="http://www.mathisonian.com/feeds/weblog/", target="_blank")
                image(src="#{STATIC_URL}images/rss.png", class="glyph")