.two.columns.navigation
    .row
        .twelve.columns.nav
            a(href="/portfolio")
                | /portfolio
    .row
        .twelve.columns.nav
            a(href="/weblog")
                | /weblog
    .row
        .twelve.columns.nav
            a(href="/about")
                | /about
    .row
        .twelve.columns.nav
            a(href="mailto:web@mathisonian.com")
                | /contact
    br

    .row
        .four.columns.phone-one
            a(href="http://www.github.com/mathisonian", target="_blank")
                image(src="#{STATIC_URL}images/github.png", class="glyph")
        .four.columns.phone-one
            a(href="http://www.twitter.com/mpconlen", target="_blank")
                image(src="#{STATIC_URL}images/twitter.png", class="glyph")
        .four.columns.phone-two
            a(href="http://www.facebook.com/mpconlen", target="_blank")
                image(src="#{STATIC_URL}images/facebook.png", class="glyph")