extends pjs

block post-head-includes
    script(src="#{STATIC_URL}javascripts/codemirror/lib/codemirror.js")
    link(rel="stylesheet", href="#{STATIC_URL}stylesheets/codemirror.css")
    script(src="#{STATIC_URL}javascripts/codemirror/mode/javascript/javascript.js")

block post-header
    a(href="/labs") /labs
    a(href="")
        | /processing


block content
    .row.content.margin-top
        .eight.columns
            block editor
            .error-span
            br
            br
            br
            .instruction-span
                | Evaluate With Ctrl+Enter
                br
                br
                | Either current selection or
                br
                | entire script will be executed
                br
                br
                | Best viewed with chrome


                block save-buttons
        .four.columns
            block canvas

