extends pjs-editor

block post-header
    a(href="/labs") /labs
    a(href="/labs/processing") /processing
    a(href="/labs/processing/2d")
        | /2d

block editor
    textarea.code-editor#code-editor(style="display:none;")
        - if version
            #{version.content}
        - else
            | // Declare initial variables in here.
            | // This is called as a callback at
            | // the end of setup(). It only gets called
            | // on page load
            | p.init = function() {
            |   i = 250;
            | }

            | 
            | // This function gets called
            | // every frame
            | p.draw = function() {
            |     try {
            |         //
            |         // Replace this with your own code
            |         //
            |         p.background(0, 255 * p.pow(p.sin(i), 2));
            |         i += 0.01;
            |     } catch(e) {
            |         displayError(e);
            |     }
            | };

block save-buttons
    .row.margin-top
        .twelve.columns
            .button.save-sketch-2d
                | save
            - if version
                .button.version-sketch-2d
                    | version

block canvas
    canvas#sketch2d.sketch