extends pjs-editor

block post-header
    a(href="/labs") /labs
    a(href="/labs/processing") /processing
    a(href="")
        | /3d

block editor
    textarea.code-editor#code-editor(style="display:none;")
        - if version
            #{version.content}
        - else
            | // Declare initial variables in here.
            | // This is called as a callback at
            | // the end of setup(). It only gets called
            | // on page load
            | p.init = function() {
            |   steps = 250;
            |   curStep = 0;
            | }

            | 
            | // This function gets called
            | // every frame
            | p.draw = function() {
            |     try {
            |         //
            |         // Replace this with your own code
            |         //
            |         p.noStroke();
            |         p.background(0, 0, 0, 0);
            |         p.lights();
            |         p.translate(p.width/2,
            |                   p.height/2, 0);
            |         p.rotateX(2*p.PI / steps * curStep++);
            |         p.rotateY(-p.PI/3 +
            |                 210 / p.height * p.PI);
            |         p.box(45);
            |         p.translate(0,0, -50);
            |         p.box(30);
            |         p.translate(0, 0, -35);
            |         p.box(17);
            |     } catch(e) {
            |         displayError(e);
            |     }
            | }

block save-buttons
    .row.margin-top
        .twelve.columns
            .button.save-sketch-3d
                | save
            - if version
                .button.version-sketch-3d
                    | version

block canvas
    canvas#sketch3d.sketch