
.row.single-post
  .eight.columns.post
    h3
      #{post.title}
    h5.blog-time
      | #{post.created_at}
    .description
      !{post.content|safe}

    .go-back.description
      a(href="/weblog")
        | &larr; Return
  .one.columns
