
.row.single-post
  .eight.columns
    h3
      a(href="", target="_blank")
        #{post.title}
    h5.blog-time
      | #{post.created_at}
    .description
      !{post.content|safe}
  .one.columns
