extends base

block post-header
  a(href="")
    |/weblog

block content
  .row.content
    .ten.columns
      .row.portfolio-container
        .twelve.columns
          - for post in posts
            include post_short
            hr

          .row
            .twelve.columns.breathe-bottom
              - for page in posts.paginator.page_range
                span.page-number
                  - if page == posts.number
                    | #{page}
                  - else
                    a(href="/weblog/#{page}")
                      | #{page}

    include navigation